In [1]:
#https://developers.refinitiv.com/en/article-catalog/article/eikon-data-api-cheat-sheet

In [2]:
#Install required package
#!pip install eikon

In [3]:
import eikon as ek
ek.set_app_key('4e49391e9c524b9081b97cdbc046113aa317f957')

In [4]:
#1. Symbology

In [5]:
#Example 1

In [7]:
RICS=['IBM','WMT','MSFT','AAPL','TWTR']
RICS_list=[RIC+"@ticker" for RIC in RICS]

ticker,err = ek.get_data(RICS_list,'TR.RIC')
ticker

  Instrument     RIC
0        IBM     IBM
1        WMT     WMT
2       MSFT  MSFT.O
3       AAPL  AAPL.O
4       TWTR  TWTR.K

In [8]:
#Example 2

In [9]:
codes = ['IBM','WMT','MSFT','AAPL','TWTR']

ticker = ek.get_symbology(codes, bestMatch=False)
ticker

,CUSIPs,ISINs,OAPermIDs,RICs,SEDOLs,bestMatch,symbol,tickers
IBM,"[459200101, 459200HS3, 44932HAB9, 44932HAE3, 4...","[US4592001014, ARDEUT110202, XS0996288717, US4...",[4295904307],"[IBM, IBMEUR.xbo, IBM.BA, IBM.N, IBM.TH, IBM.Z...","[2308995, 2005973, 0040868, 5199204, 2667715, ...","{'CUSIP': '459200101', 'ISIN': 'US4592001014',...",IBM,"[IBM, IBM3, IBM*]"
WMT,"[931142103, 931142EA7, 931142DD2, 931142EJ8, 9...","[US9311421039, ARDEUT110400, US931142EA74, US9...","[4295905298, 4295856954, 4297201637]","[WMT, WMT.BA, WMT.N, WMT.TH, WMT.P, WMT.DG, WM...","[2316170, 2936921, 5419571, 2668644, B88KGK9, ...","{'CUSIP': '931142103', 'ISIN': 'US9311421039',...",WMT,"[WMT, WMT3, WMT*, WMTD3, WMTC3, IDG]"
MSFT,"[594918104, 594918AL8, 594918BP8, 594918BW3, 5...","[US5949181045, JO3124311015, ARDEUT110285, US5...","[4295907168, 4297648824, 5000076412, 5060588378]","[MSFT.O, MSFT.AM, MSFTEUR.xbo, MSFT.BA, MSFT.O...","[B1CGTC7, 2383130, 2588173, BVCXQT4, 2668398, ...",{'error': 'No best match available'},MSFT,"[MSFT, MSFT3, MSFT-RM, MSFT*, MSFTD3, MSFTC3, ..."
AAPL,"[037833100, 83088M102, 03785DMF0, 03785DMH6, 0...","[US0378331005, US83088M1027, US03785DMF05, US0...","[4295905573, 4295905486]","[AAPL.O, AAPLEUR.xbo, AAPL.OQ, AAPL.DG, AAPL.Z...","[2046251, B011001, BYS3934, BF1SS69, BF1SNX1, ...",{'error': 'No best match available'},AAPL,"[AAPL, AAPL*, SWKS, APC]"
TWTR,"[90184L102, 90184LAC6, 90184LAD4, 90184LAE2, 9...","[US90184L1026, US90184LAC63, US90184LAD47, US9...","[4296301199, 5060588378, 4295968989, 429586981...","[TWTR.K, TWTR.N, TWTR.TH, TWTR.DG, TWTR.P, TWT...","[BFLR866, BMPS295, BK3F4V0, BFXPDT6, BJ05610, ...",{'error': 'No best match available'},TWTR,"[TWTR, TWTR-RM, TWTR*, TWR, BULL TWITTER X3 NO..."

In [10]:
#Example 3

In [11]:
PreferredRIC,err = ek.get_data('US9128283J70',fields=['TR.PreferredRIC'])
PreferredRIC

     Instrument Preferred RIC
0  US9128283J70    9128283J7=

In [12]:
#Example 4

In [13]:
RICS = ['IBM.N','VOD.L','GOOG.O','0005.HK']
fields = ['TR.CUSIP','TR.CUSIPExtended','TR.PriceClose']

CUSIP,err = ek.get_data(RICS, fields)
CUSIP

  Instrument      CUSIP CUSIP (extended)  Price Close
0      IBM.N  459200101        459200101       124.27
1      VOD.L                   G93882192       130.98
2     GOOG.O  02079K107        02079K107      1781.77
3    0005.HK                   G4634U169        41.35

In [14]:
#Example 5
#Screener Article
#https://developers.refinitiv.com/en/article-catalog/article/find-your-right-companies-with-screener-eikon-data-apis-python

#TRBC document
#https://www.refinitiv.com/content/dam/marketing/en_us/documents/quick-reference-guides/trbc-business-classification-quick-guide.pdf

In [15]:
SCREENER_REQUEST = """SCREEN(U(IN(  Equity(active,public,primary) )),
					IN(TR.TRBCEconSectorCode,"51"),
					TR.CompanyMarketCap>=10000000000,CURN=USD)"""

Screener_Data,err = ek.get_data([SCREENER_REQUEST],fields=['TR.RIC','TR.CompanyName'])
Screener_Data

    Instrument        RIC                         Company Name
0        ECL.N      ECL.N                           Ecolab Inc
1        AAL.L      AAL.L                   Anglo American PLC
2       IMPJ.J     IMPJ.J         Impala Platinum Holdings Ltd
3      GBLB.BR    GBLB.BR             Groep Brussel Lambert NV
4      SOLB.BR    SOLB.BR                            Solvay SA
..         ...        ...                                  ...
119     NTR.TO     NTR.TO                          Nutrien Ltd
120  600989.SS  600989.SS  Ningxia Baofeng Energy Group Co Ltd
121      DOW.N      DOW.N                              Dow Inc
122     AMCR.N     AMCR.N                            Amcor PLC
123     SSWJ.J     SSWJ.J               Sibanye Stillwater Ltd

[124 rows x 3 columns]

In [16]:
#2. Deals

In [17]:
permid,err = ek.get_data('300828.SZ','TR.OrganizationID')

screen ="""SCREEN(U(IN(DEALS)/*UNV:DEALSEQ*/),TR.NIisECM=True,
		IN(TR.NIParticipant(NIDealPartRole=IS),""" + str(permid.iloc[0,1]) + "))"

data,err = ek.get_data(screen,['TR.NIHasLockup','TR.NILockupDays','TR.,→NILockupShares'])
data

     Instrument Lockup: Lockup Provision Flag  Number of Lockup Days
0  154084781063                          True                   1095
1  154084781063                                                  365
2  154085644806                          True                   1095
3  154085644806                                                  365

In [ ]:
#3. Company Guidance

In [18]:
fields = ['TR.GuidanceMeasure(Period=FY1)',
          'TR.GuidancePeriodYear(Period=FY1)',
          'TR.GuidancePeriodMonth(Period=FY1)',
          'TR.GuidanceDate(Period=FY1)',
          'TR.GuidanceText(Period=FY1)',
          'TR.GuidanceSpeaker(Period=FY1)',
          'TR.GuidanceDocType(Period=FY1)']

guidance,err = ek.get_data('TSLA.O', fields)
guidance

,Instrument,Guidance Measure,Period Year,Period Month,Activation Date,Guidance Text,Guidance Speaker,The Doc Type
0,TSLA.O,Operating Expense,2020,12,2020-01-29T18:30:00Z,And how should we think about OpEx needs as we...,"Martin Viecha, Tesla, Inc. - Senior Director f...",Transcript
1,TSLA.O,Gross Profit Margin,2020,12,2020-01-29T18:30:00Z,"As mentioned previously, we are forecasting hi...","Zachary Kirkhorn, Tesla, Inc. - CFO",Transcript
2,TSLA.O,Revenue,2020,12,2020-07-22T17:30:00Z,"And I have a follow-up, please. And how much o...","A.M. Sacconaghi, Sanford C. Bernstein & Co., L...",Transcript
3,TSLA.O,Tot. Prod. Per Day (BOE),2020,12,2020-10-21T17:30:00Z,So if I look at your production capacity at th...,"Pierre C. Ferragu, New Street Research LLP - G...",Transcript
4,TSLA.O,EBIT,2020,12,2020-07-22T17:30:00Z,And I think there continues to drive -- the op...,"A.M. Sacconaghi, Sanford C. Bernstein & Co., L...",Transcript
5,TSLA.O,Capital Expenditures,2020,12,2020-01-29T18:30:00Z,Absolutely. And I think we always find ways to...,"Daniel V. Galves, Wolfe Research, LLC - Direct...",Transcript
6,TSLA.O,Business Outlook,2020,12,2020-11-05T16:10:09Z,"""We continue to see evidence that demand for l...",<NA>,Press Release
7,TSLA.O,Cost Of Goods Sold,2020,12,2020-09-24T08:52:22Z,* Tesla expects that cutting the cost of batte...,<NA>,Press Release
8,TSLA.O,Cash Flow From Operations,2020,12,2020-07-22T17:30:00Z,We will continue to appropriately manage our c...,"Zachary J. Kirkhorn, Tesla, Inc. - CFO",Transcript

In [ ]:
#4. Earnings

In [19]:
RICS = ['TSLA.O','AAPL.O','IBM','AMZN.O','JPM','GS']
fields = ['TR.EpsSmartEst','TR.EPSMean','TR.EpsPreSurprisePct','TR.EpsPreSurprise',
          'TR.EpsPreSurpriseFlag','TR.EPSMedian','TR.EPSLow','TR.EPSHigh']

eps,err = ek.get_data(RICS, fields)
eps

,Instrument,Earnings Per Share - SmartEstimate®,Earnings Per Share - Mean,Earnings Per Share - Predicted Surprise PCT,Earnings Per Share - Predicted Surprise,Earnings Per Share - Predicted Surprise Flag,Earnings Per Share - Median,Earnings Per Share - Low,Earnings Per Share - High
0,TSLA.O,2.32710,2.29033,1.606,0.03677,1,2.3400,1.35,2.68
1,AAPL.O,3.94933,3.96096,-0.294,-0.01163,0,3.9725,3.41,4.45
2,IBM,8.40749,8.43031,-0.271,-0.02281,0,8.4600,8.22,8.69
3,AMZN.O,34.94166,34.85338,0.253,0.08828,0,34.5800,32.20,38.89
4,JPM,7.49295,7.46244,0.409,0.03050,0,7.4200,6.93,8.50
5,GS,19.06729,19.08920,-0.115,-0.02191,0,19.1000,17.47,20.45

In [ ]:
#5 Analyst Recommendations

In [20]:
fields = ['TR.AnalystName','TR.RecLabelEstBrokerName','TR.RecEstValue',
          'TR.BrkRecLabel','TR.TPEstValue','TR.EPSLTGEstValue',
          'TR.SingleStockRatingRecommendation1to5T24M',
          'TR.SingleStockRatingRecommendation1to100T24M',
          'TR.RecMean','TR.PriceTargetMean','TR.LTGMean']

analysts,err = ek.get_data(['TSLA.O'], fields)
analysts.head(5)

,Instrument,Analyst - Full Name,Broker Name,Standard Rec (1-5) - Broker Estimate,Broker Rec Descr. - Broker Estimate,Target Price - Broker Estimate,LT Growth - Broker Estimate,Analyst Single Stock Rating - Recommendation 1 - 5 Trailing 24m,Analyst Single Stock Rating - Recommendation Trailing 24m,Recommendation - Mean (1-5),Price Target - Mean,Long Term Growth - Mean
0,TSLA.O,"Gill, Rajvindra S",DEUTSCHE BANK,2,BUY,500.0,211.300,1,1,2.79412,389.7931,353.898
1,TSLA.O,"Siegel, Chaim",JPMORGAN,4,UNDERWEIGHT,90.0,437.554,5,98,NaN,NaN,NaN
2,TSLA.O,"Selesky, William V",GOLDMAN SACHS,2,BUY,780.0,35.000,4,74,NaN,NaN,NaN
3,TSLA.O,"Irwin, Craig",BOFA GLOBAL RESEARCH,3,NEUTRAL,500.0,216.200,1,1,NaN,NaN,NaN
4,TSLA.O,"Pearson, Stuart P",CITI,5,SELL (3),137.0,407.940,5,100,NaN,NaN,NaN

In [ ]:
#6. Timeseries

In [ ]:
#Example 1

In [21]:
RICs = ['AAPL.O','IBM','MSFT.O','TWTR.K']
start_date = '2019-12-12'
end_date = '2019-12-15'

ts,e = ek.get_data(RICs,
                   ['TR.PriceClose(SDate=2019-12-12,EDate=2019-12-15,Frq=D).date',
                    'TR.PriceClose(SDate=2019-12-12,EDate=2019-12-15,Frq=D)',
                    'TR.TotalReturn1Mo(SDate=2019-12-12,EDate=2019-12-15,Frq=D)'])
ts

  Instrument                  Date  Price Close  1 Month Total Return
0     AAPL.O  2019-12-12T00:00:00Z      67.8650              3.626508
1     AAPL.O  2019-12-13T00:00:00Z      68.7875              4.038265
2        IBM  2019-12-12T00:00:00Z     135.3200             -0.199130
3        IBM  2019-12-13T00:00:00Z     134.2100             -0.200773
4     MSFT.O  2019-12-12T00:00:00Z     153.2400              4.550445
5     MSFT.O  2019-12-13T00:00:00Z     154.5300              5.258799
6     TWTR.K  2019-12-12T00:00:00Z      30.3000              4.302926
7     TWTR.K  2019-12-13T00:00:00Z      30.3900              4.504814

In [ ]:
#Example 2

In [22]:
RICs = ['AAPL.O','IBM','MSFT.O','TWTR.K']

ts,e = ek.get_data(RICs,
                   ['TR.PriceClose.date','TR.PriceClose','TR.TotalReturn1Mo'],
                   {'SDate':'2019-12-12','EDate':'2019-12-15','Frq':'D'})
ts

  Instrument                  Date  Price Close  1 Month Total Return
0     AAPL.O  2019-12-12T00:00:00Z      67.8650              3.626508
1     AAPL.O  2019-12-13T00:00:00Z      68.7875              4.038265
2        IBM  2019-12-12T00:00:00Z     135.3200             -0.199130
3        IBM  2019-12-13T00:00:00Z     134.2100             -0.200773
4     MSFT.O  2019-12-12T00:00:00Z     153.2400              4.550445
5     MSFT.O  2019-12-13T00:00:00Z     154.5300              5.258799
6     TWTR.K  2019-12-12T00:00:00Z      30.3000              4.302926
7     TWTR.K  2019-12-13T00:00:00Z      30.3900              4.504814

In [ ]:
#Example 3

In [23]:
RICs = ['AAPL.O','IBM']

ts = ek.get_timeseries(RICs, start_date='2019-12-12', end_date='2019-12-15')
ts

Security       AAPL.O                                                     IBM  \
Field            HIGH    CLOSE       LOW    OPEN   COUNT     VOLUME      HIGH
Date
2019-12-12  68.139975  67.8650  66.83025  66.945  261547  137748168  135.6604
2019-12-13  68.825000  68.7875  67.73250  67.865  253684  133731224  135.5000

Security
Field        CLOSE     LOW    OPEN  COUNT   VOLUME
Date
2019-12-12  135.32  133.66  133.70  36646  4824186
2019-12-13  134.21  134.01  134.75  26866  2534970

In [ ]:
#7. Industry Analysis / The Refinitiv Business Classifications(TRBC)

In [24]:
RICS = ['AIRP.PA','BASFn.DE','1COV.DE','AKZO.AS','DSMN.AS','LXSG.DE','SOLB.BR','CLN.S']
fields = ['TR.CommonName','TR.TRBCEconomicSector','TR.TRBCBusinessSector',
          'TR.TRBCIndustryGroup','TR.TRBCIndustry','TR.TRBCActivity',
          'TR.TRBCEconSectorCode','TR.TRBCBusinessSectorCode','TR.TRBCIndustryGroupCode',
          'TR.TRBCIndustryCode','TR.TRBCActivityCode']

trbc,err = ek.get_data(RICS, fields)
trbc

,Instrument,Company Common Name,TRBC Economic Sector Name,TRBC Business Sector Name,TRBC Industry Group Name,TRBC Industry Name,TRBC Activity Name,TRBC Economic Sector Code,TRBC Business Sector Code,TRBC Industry Group Code,TRBC Industry Code,TRBC Activity Code
0,AIRP.PA,L'Air Liquide Societe Anonyme pour l'Etude et ...,Basic Materials,Chemicals,Chemicals,Commodity Chemicals,Commodity Chemicals (NEC),51,5110,511010,51101010,5110101010
1,BASFn.DE,BASF SE,Basic Materials,Chemicals,Chemicals,Diversified Chemicals,Diversified Chemicals,51,5110,511010,51101090,5110109010
2,1COV.DE,Covestro AG,Basic Materials,Chemicals,Chemicals,Commodity Chemicals,Plastics,51,5110,511010,51101010,5110101011
3,AKZO.AS,Akzo Nobel NV,Basic Materials,Chemicals,Chemicals,Commodity Chemicals,Paints & Coatings,51,5110,511010,51101010,5110101012
4,DSMN.AS,Koninklijke DSM NV,Basic Materials,Chemicals,Chemicals,Diversified Chemicals,Diversified Chemicals,51,5110,511010,51101090,5110109010
5,LXSG.DE,Lanxess AG,Basic Materials,Chemicals,Chemicals,Diversified Chemicals,Diversified Chemicals,51,5110,511010,51101090,5110109010
6,SOLB.BR,Solvay SA,Basic Materials,Chemicals,Chemicals,Commodity Chemicals,Commodity Chemicals (NEC),51,5110,511010,51101010,5110101010
7,CLN.S,Clariant AG,Basic Materials,Chemicals,Chemicals,Specialty Chemicals,Specialty Chemicals (NEC),51,5110,511010,51101030,5110103010

In [ ]:
#8. Ownership Data

In [ ]:
#Example 1

In [25]:
fields = ['TR.InsiderFullName','TR.InsiderFullName.date',
          'TR.AdjSharesTraded','TR.TransactionDate','TR.AdjSharesHeld']

own,err = ek.get_data('TWTR.K', fields ,{'SDate':'2018-04-16','EDate':'2020-04-15','Frq':'Q'})
own

,Instrument,Insider Full Name,Date,Insider Shares Traded (Adjusted),Insider Transaction Date,Insider Shares Held (Adjusted)
0,TWTR.K,Williams (Evan Clark),2018-04-23T00:00:00Z,-26,2018-04-23,<NA>
1,TWTR.K,Williams (Evan Clark),2018-04-23T00:00:00Z,-109,2018-04-23,<NA>
2,TWTR.K,Williams (Evan Clark),2018-04-23T00:00:00Z,-9434,2018-04-23,<NA>
3,TWTR.K,Williams (Evan Clark),2018-04-23T00:00:00Z,-268553,2018-04-23,<NA>
4,TWTR.K,Williams (Evan Clark),2018-04-23T00:00:00Z,-1069,2018-04-23,<NA>
...,...,...,...,...,...,...
897,TWTR.K,Gadde (Vijaya),2020-04-12T00:00:00Z,121223,2020-04-12,486072
898,TWTR.K,Montano (Michael),2020-04-12T00:00:00Z,121223,2020-04-12,486072
899,TWTR.K,Kaiden (Robert),2020-04-12T00:00:00Z,128251,2020-04-12,769494
900,TWTR.K,Segal (Ned D),2020-04-14T00:00:00Z,-8000,2020-04-14,757687
901,TWTR.K,Segal (Ned D),2020-04-14T00:00:00Z,-8000,2020-04-14,757687

In [ ]:
#Example 2

In [26]:
fields = ['TR.FundPortfolioName','TR.FundInvestorType','TR.FdAdjPctOfShrsOutHeld',
          'TR.FundAdjShrsHeld','TR.FdAdjSharesHeldValue','TR.FundHoldingsDate']

own,err = ek.get_data('AAPL.O', fields,{'SDate':-25,'EDate':-24,'Frq':'D'})
own = own[own["Fund Shares Held (Adjusted)"]!=0].reset_index(drop=True)
own

,Instrument,Fund Name,Fund Type Description,Fund Adj Percent of Traded Shares,Fund Shares Held (Adjusted),Fund Value Held (Adjusted),Fund Holdings Filing Date
0,AAPL.O,Vanguard Total Stock Market Index Fund,Mutual Fund,2.5525,433977572,4.724280e+10,2020-10-31
1,AAPL.O,Vanguard 500 Index Fund,Mutual Fund,1.9356,329081270,3.582379e+10,2020-10-31
2,AAPL.O,Statens Pensjonsfond Utland,Mutual Fund,1.0665,181316604,1.331091e+10,2019-12-31
3,AAPL.O,SPDR S&P 500 ETF,Exchange-Traded Fund,0.9690,164748434,1.793451e+10,2020-10-31
4,AAPL.O,Invesco QQQ Trust,Exchange-Traded Fund,0.9006,153121946,1.666886e+10,2020-10-31
...,...,...,...,...,...,...,...
10987,AAPL.O,ReAssure Windsor Managed Pension Accumulator S2,Pension Fund Portfolio,0.0000,16,2.316200e+03,2020-03-31
10988,AAPL.O,Gotham Master Neutral Fund,Mutual Fund,0.0000,12,1.968770e+03,2020-03-31
10989,AAPL.O,Kyobo AXA Global Market Power Fund (UH)[Equity],Mutual Fund,0.0000,4,1.017160e+03,2020-03-31
10990,AAPL.O,Fidelity NorthStar Currency Neutral Fund,Mutual Fund,0.0000,4,7.628700e+02,2020-06-30
10991,AAPL.O,Fidelity Insights Currency Neutral Multi-Asset...,Mutual Fund,0.0000,2,2.542900e+02,2020-10-31

In [ ]:
#9. Corporate Actions Data

In [27]:
fields = ['TR.EventType','TR.EventTitle','TR.EventStartDate','TR.EventLastUpdate']
parameters = {'SDate':'2015-08-01','EventType':'ALL','EDate':'2017-11-20'}

corax,err = ek.get_data('AAPL.O', fields, parameters)
corax

,Instrument,Company Event Type,Event Title,Event Start Date,Event Last Update Date
0,AAPL.O,ExDividends,Dividend For AAPL.OQ - 0.5200 USD,2015-08-06,2020-08-31
1,AAPL.O,ExDividends,Dividend For AAPL.BA - 0.0520 USD,2015-08-06,2020-08-31
2,AAPL.O,ExDividends,Dividend For AAPL34.SA - 0.1807 BRL,2015-08-06,2020-08-31
3,AAPL.O,EarningsCallsAndPresentations,Q4 2015 Apple Inc Earnings Call,2015-10-27,2015-11-21
4,AAPL.O,EarningsReleases,Q4 2015 Apple Inc Earnings Release,2015-10-27,2015-09-29
5,AAPL.O,ExDividends,Dividend For AAPL.OQ - 0.5200 USD,2015-11-05,2020-08-31
6,AAPL.O,ExDividends,Dividend For AAPL.BA - 0.0520 USD,2015-11-05,2020-08-31
7,AAPL.O,ExDividends,Dividend For AAPL34.SA - 0.1985 BRL,2015-11-05,2020-08-31
8,AAPL.O,EarningsCallsAndPresentations,Q1 2016 Apple Inc Earnings Call,2016-01-26,2016-02-29
9,AAPL.O,EarningsReleases,Q1 2016 Apple Inc Earnings Release,2016-01-26,2016-01-05
10,AAPL.O,ExDividends,Dividend For AAPL.OQ - 0.5200 USD,2016-02-04,2020-08-31
11,AAPL.O,ExDividends,Dividend For AAPL.BA - 0.0520 USD,2016-02-04,2020-08-31
12,AAPL.O,ExDividends,Dividend For AAPL34.SA - 0.2069 BRL,2016-02-04,2020-08-31
13,AAPL.O,ShareholderAndAnnualMeetings,Apple Inc Annual Shareholders Meeting,2016-02-26,2016-01-13
14,AAPL.O,EarningsCallsAndPresentations,Q2 2016 Apple Inc Earnings Call,2016-04-26,2016-04-29
15,AAPL.O,EarningsReleases,Q2 2016 Apple Inc Earnings Release,2016-04-26,2016-04-21
16,AAPL.O,ExDividends,Dividend For AAPL.OQ - 0.5700 USD,2016-05-05,2020-08-31
17,AAPL.O,ExDividends,Dividend For AAPL.BA - 0.0570 USD,2016-05-05,2020-08-31
18,AAPL.O,ExDividends,Dividend For AAPL34.SA - 0.2003 BRL,2016-05-05,2020-08-31
19,AAPL.O,EarningsCallsAndPresentations,Q3 2016 Apple Inc Earnings Call,2016-07-26,2016-08-18
20,AAPL.O,EarningsReleases,Q3 2016 Apple Inc Earnings Release,2016-07-26,2016-06-29
21,AAPL.O,ExDividends,Dividend For AAPL.OQ - 0.5700 USD,2016-08-04,2020-08-31
22,AAPL.O,ExDividends,Dividend For AAPL.BA - 0.0570 USD,2016-08-04,2020-08-31
23,AAPL.O,ExDividends,Dividend For AAPL34.SA - 0.1808 BRL,2016-08-04,2020-08-31
24,AAPL.O,EarningsCallsAndPresentations,Q4 2016 Apple Inc Earnings Call,2016-10-25,2017-02-16
25,AAPL.O,EarningsReleases,Q4 2016 Apple Inc Earnings Release,2016-10-25,2017-02-10
26,AAPL.O,ExDividends,Dividend For AAPL.OQ - 0.5700 USD,2016-11-03,2020-08-31
27,AAPL.O,ExDividends,Dividend For AAPL.BA - 0.0570 USD,2016-11-03,2020-08-31
28,AAPL.O,ExDividends,Dividend For AAPL34.SA - 0.1956 BRL,2016-11-03,2020-08-31
29,AAPL.O,EarningsCallsAndPresentations,Q1 2017 Apple Inc Earnings Call,2017-01-31,2017-03-01
30,AAPL.O,EarningsReleases,Q1 2017 Apple Inc Earnings Release,2017-01-31,2017-02-10
31,AAPL.O,ExDividends,Dividend For AAPL.OQ - 0.5700 USD,2017-02-09,2020-08-31
32,AAPL.O,ExDividends,Dividend For AAPL.BA - 0.0570 USD,2017-02-09,2020-08-31
33,AAPL.O,ExDividends,Dividend For AAPL34.SA - 0.1759 BRL,2017-02-09,2020-08-31
34,AAPL.O,ConferencePresentations,Apple Inc at Goldman Sachs Technology and Inte...,2017-02-14,2017-02-15
35,AAPL.O,ShareholderAndAnnualMeetings,Apple Inc Annual Shareholders Meeting,2017-02-28,2017-01-06
36,AAPL.O,CorporateCallsAndPresentations,Imagination Technologies Group PLC Discussions...,2017-04-03,2017-05-08
37,AAPL.O,ConferencePresentations,Apple Inc. Presents at The 20th Annual Milken ...,2017-05-01,2017-05-01
38,AAPL.O,EarningsCallsAndPresentations,Q2 2017 Apple Inc Earnings Call,2017-05-02,2017-05-24
39,AAPL.O,EarningsReleases,Q2 2017 Apple Inc Earnings Release,2017-05-02,2017-04-05
40,AAPL.O,ExDividends,Dividend For AAPL.OQ - 0.6300 USD,2017-05-11,2020-08-31
41,AAPL.O,ExDividends,Dividend For AAPL.BA - 0.0630 USD,2017-05-11,2020-08-31
42,AAPL.O,ExDividends,Dividend For AAPL34.SA - 0.2049 BRL,2017-05-11,2020-08-31
43,AAPL.O,EarningsCallsAndPresentations,Q3 2017 Apple Inc Earnings Call,2017-08-01,2017-08-12
44,AAPL.O,EarningsReleases,Q3 2017 Apple Inc Earnings Release,2017-08-01,2017-07-05
45,AAPL.O,ExDividends,Dividend For AAPL.OQ - 0.6300 USD,2017-08-10,2020-08-31
46,AAPL.O,ExDividends,Dividend For AAPL.BA - 0.0630 USD,2017-08-10,2020-08-31
47,AAPL.O,ExDividends,Dividend For AAPL34.SA - 0.1978 BRL,2017-08-10,2020-08-31
48,AAPL.O,EarningsCallsAndPresentations,Q4 2017 Apple Inc Earnings Call,2017-11-02,2017-11-06
49,AAPL.O,EarningsReleases,Q4 2017 Apple Inc Earnings Release,2017-11-02,2017-10-03
50,AAPL.O,ExDividends,Dividend For AAPL34.SA - 0.2048 BRL,2017-11-09,2020-08-31
51,AAPL.O,ExDividends,Dividend For AAPL.OQ - 0.6300 USD,2017-11-10,2020-08-31
52,AAPL.O,ExDividends,Dividend For AAPL.BA - 0.0630 USD,2017-11-10,2020-08-31

In [ ]:
#10. Volatility

In [ ]:
#Example 1

In [28]:
vols_profile=['TR.Volatility2D','TR.Volatility5D','TR.Volatility10D',
              'TR.Volatility15D','TR.Volatility20D','TR.Volatility25D',
              'TR.Volatility30D','TR.Volatility40D','TR.Volatility50D',
              'TR.Volatility60D','TR.Volatility90D','TR.Volatility100D',
              'TR.Volatility120D','TR.Volatility150D','TR.Volatility160D',
              'TR.Volatility180D','TR.Volatility240D','TR.Volatility250D',
              'TR.Volatility260D']

vols,err = ek.get_data(['AAPL.O','IBM.N','AOT.BK'], vols_profile)
vols.transpose()

                             0        1        2
Instrument              AAPL.O    IBM.N   AOT.BK
Volatility - 2 days     14.764  7.11625  8.94294
Volatility - 5 days    20.1015  18.2439  23.2283
Volatility - 10 days   22.1955  21.5195  28.8539
Volatility - 20 days   21.5299  22.8343   25.122
Volatility - 25 days   22.4403  23.3629  58.6168
Volatility - 30 days   30.7178  24.2197  55.7496
Volatility - 40 days   32.0043   31.322  51.2042
Volatility - 50 days   34.8603  32.2018  47.2581
Volatility - 60 days   35.6781  30.5584  45.3806
Volatility - 90 days   40.2233  27.4831  44.8412
Volatility - 100 days  42.4076  26.6227  42.9354
Volatility - 120 days  39.8459  26.3223  41.2803
Volatility - 150 days   37.475  29.9345  39.8701
Volatility - 160 days  36.8705  29.6277  41.1708
Volatility - 180 days  38.1005  33.1171  51.1356
Volatility - 240 days  47.0957  41.8051   48.855
Volatility - 250 days   46.208  41.0226  48.0778
Volatility - 260 days  45.4746  40.2704  47.3491

In [ ]:
#Example 2

In [29]:
#EQUITY IMPLIED VOLS  = Ticker + "ATMIV.U" (Reference the IMPLIEDVOL speed_guide within Eikon)
RIC = 'WMT' + 'ATMIV.U'

fields = ['TR.30DAYATTHEMONEYIMPLIEDVOLATILITYINDEXFORCALLOPTIONS',
          'TR.30DAYATTHEMONEYIMPLIEDVOLATILITYINDEXFORPUTOPTIONS',
          'TR.60DAYATTHEMONEYIMPLIEDVOLATILITYINDEXFORCALLOPTIONS',
          'TR.60DAYATTHEMONEYIMPLIEDVOLATILITYINDEXFORPUTOPTIONS',
          'TR.90DAYATTHEMONEYIMPLIEDVOLATILITYINDEXFORCALLOPTIONS',
          'TR.90DAYATTHEMONEYIMPLIEDVOLATILITYINDEXFORCALLOPTIONS']



implied_vol, err=ek.get_data(RIC, fields,{'SDate':0,'EDate':-10,'Frq':'D'})
implied_vol

,Instrument,30 Day At-The-Money Implied Volatility Index for Call Options,30 Day At-The-Money Implied Volatility Index for Put Options,60 Day At-The-Money Implied Volatility Index for Call Options,60 Day At-The-Money Implied Volatility Index for Put Options,90 Day At-The-Money Implied Volatility Index for Call Options,90 Day At-The-Money Implied Volatility Index for Call Options
0,WMTATMIV.U,22.85,22.85,23.89,23.89,24.22,24.22
1,WMTATMIV.U,22.10,22.10,23.40,23.40,24.14,24.14
2,WMTATMIV.U,21.86,21.86,23.53,23.53,24.05,24.05
3,WMTATMIV.U,21.50,21.50,23.19,23.19,23.73,23.73
4,WMTATMIV.U,21.56,21.56,23.35,23.35,24.10,24.10
5,WMTATMIV.U,20.50,20.50,23.15,23.15,24.25,24.25
6,WMTATMIV.U,21.28,21.28,23.34,23.34,24.61,24.61

In [ ]:
#Example 3

In [30]:
# Futures Implied Vols = Ticker + 'ATMIV' (refernce FUT/IMPLIEDVOL1 Speed Guide in Eikon)
# Examples,  Corn (1CATMIV), Wheat (1WATMIV), Crude Oil (CLATMIV), 10Y UST(2TYATMIV)...

RICS = ['1CATMIV','1WATMIV','CLATMIV','2TYATMIV',]
fields = ['TR.30DAYATTHEMONEYIMPLIEDVOLATILITYINDEXFORCALLOPTIONS',
          'TR.30DAYATTHEMONEYIMPLIEDVOLATILITYINDEXFORPUTOPTIONS',
          'TR.60DAYATTHEMONEYIMPLIEDVOLATILITYINDEXFORCALLOPTIONS',
          'TR.60DAYATTHEMONEYIMPLIEDVOLATILITYINDEXFORPUTOPTIONS',
          'TR.90DAYATTHEMONEYIMPLIEDVOLATILITYINDEXFORCALLOPTIONS',
          'TR.90DAYATTHEMONEYIMPLIEDVOLATILITYINDEXFORCALLOPTIONS']

fut_implied_vol, err=ek.get_data(RICS, fields)
fut_implied_vol

,Instrument,30 Day At-The-Money Implied Volatility Index for Call Options,30 Day At-The-Money Implied Volatility Index for Put Options,60 Day At-The-Money Implied Volatility Index for Call Options,60 Day At-The-Money Implied Volatility Index for Put Options,90 Day At-The-Money Implied Volatility Index for Call Options,90 Day At-The-Money Implied Volatility Index for Call Options
0,1CATMIV,19.75,19.75,21.17,21.17,21.98,21.98
1,1WATMIV,25.53,25.53,25.22,25.22,24.92,24.92
2,CLATMIV,34.39,34.39,39.50,39.50,36.36,36.36
3,2TYATMIV,3.35,3.35,3.35,3.35,3.32,3.32

In [ ]:
#11. Portfolios and Lists

In [ ]:
#Example 1

In [31]:
fields = ['TR.PortfolioStatementDate','TR.PortfolioModifiedDate','TR.PortfolioConstituentName',
          'TR.PortfolioShares','TR.PortfolioWeight','TR.PortfolioDate',
          'TR.PriceClose(SDate=2020-12-14)','TR.CompanyMarketCap(Scale=6,SDate=2020-12-14)']


PortData,err=ek.get_data(["Portfolio('TEST-PORTFOLIO','20201214')"], fields)
PortData

,Instrument,Portfolio Statement Date,Portfolio Modified Date,Issuer Name,Portfolio Shares,Portfolio Weight,Price Close,Company Market Cap
0,AFL.N,2020-12-14,2020-12-14T08:56:16Z,AFLAC INC,500000,0.024568,44.84,31497.644786
1,ALL.N,2020-12-14,2020-12-14T08:56:16Z,ALLSTATE CORP,220800,0.025268,104.43,31753.823955
2,AEP.OQ,2020-12-14,2020-12-14T08:56:16Z,AMERICAN ELECTRIC POWER COMPANY INC,-117800,-0.010683,82.76,41081.197834
3,VZ.N,2020-12-14,2020-12-14T08:56:16Z,VERIZON COMMUNICATIONS INC,827700,0.054738,60.35,249733.995048
4,BC.N,2020-12-14,2020-12-14T08:56:16Z,BRUNSWICK CORP,-134000,-0.010831,73.76,5778.550619
5,CSX.OQ,2020-12-14,2020-12-14T08:56:16Z,CSX CORP,537500,0.053264,90.43,69158.599452
6,CWT.N,2020-12-14,2020-12-14T08:56:16Z,CALIFORNIA WATER SERVICE GROUP,-202100,-0.011578,52.28,2605.635200
7,CINF.OQ,2020-12-14,2020-12-14T08:56:16Z,CINCINNATI FINANCIAL CORP,105400,0.009260,80.17,12899.104714
8,CSCO.OQ,2020-12-14,2020-12-14T08:56:16Z,CISCO SYSTEMS INC,1162200,0.056445,44.32,187274.798252
9,CMA.N,2020-12-14,2020-12-14T08:56:16Z,COMERICA INC,97900,0.005653,52.69,7328.539449
10,DUK.N,2020-12-14,2020-12-14T08:56:16Z,DUKE ENERGY CORP,-107900,-0.010824,91.54,67369.646582
11,EMR.N,2020-12-14,2020-12-14T08:56:16Z,EMERSON ELECTRIC CO,419300,0.037870,82.42,49290.412870
12,EXPD.OQ,2020-12-14,2020-12-14T08:56:16Z,EXPEDITORS INTERNATIONAL OF WASHINGTON INC,116800,0.011582,90.49,15316.852469
13,FAST.OQ,2020-12-14,2020-12-14T08:56:16Z,FASTENAL CO,403000,0.021732,49.21,28249.162549
14,GD.N,2020-12-14,2020-12-14T08:56:16Z,GENERAL DYNAMICS CORP,178700,0.029634,151.33,43427.495460
15,GIS.N,2020-12-14,2020-12-14T08:56:16Z,GENERAL MILLS INC,427500,0.027789,59.32,36264.324219
16,GPC.N,2020-12-14,2020-12-14T08:56:16Z,GENUINE PARTS CO,98900,0.010519,97.06,14004.753720
17,GILD.OQ,2020-12-14,2020-12-14T08:56:16Z,GILEAD SCIENCES INC,824100,0.054871,60.76,76164.370333
18,HRL.N,2020-12-14,2020-12-14T08:56:16Z,HORMEL FOODS CORP,196400,0.010158,47.20,25484.135122
19,IP.N,2020-12-14,2020-12-14T08:56:16Z,INTERNATIONAL PAPER CO,276700,0.014745,48.63,19116.232512
20,MKC.N,2020-12-14,2020-12-14T08:56:16Z,MCCORMICK & COMPANY INC,87300,0.008937,93.42,24952.357027
21,MCY.N,2020-12-14,2020-12-14T08:56:16Z,MERCURY GENERAL CORP,19200,0.000984,46.77,2589.079208
22,MDP.N,2020-12-14,2020-12-14T08:56:16Z,MEREDITH CORP,-491400,-0.010533,19.56,995.220605
23,MSEX.OQ,2020-12-14,2020-12-14T08:56:16Z,MIDDLESEX WATER CO,-146000,-0.011932,74.58,1302.868598
24,NSC.N,2020-12-14,2020-12-14T08:56:16Z,NORFOLK SOUTHERN CORP,180400,0.046506,235.25,59750.050764
25,OKE.N,2020-12-14,2020-12-14T08:56:16Z,ONEOK INC,308700,0.014062,41.57,18473.600500
26,OI.N,2020-12-14,2020-12-14T08:56:16Z,O-I GLASS INC,-883400,-0.011229,11.60,1823.122016
27,PPG.N,2020-12-14,2020-12-14T08:56:16Z,PPG INDUSTRIES INC,166100,0.026016,142.93,33760.697322
28,PCAR.OQ,2020-12-14,2020-12-14T08:56:16Z,PACCAR INC,238800,0.022363,85.46,29606.745479
29,BOH.N,2020-12-14,2020-12-14T08:56:16Z,BANK OF HAWAII CORP,27700,0.002391,78.77,3155.596699
30,PH.N,2020-12-14,2020-12-14T08:56:16Z,PARKER-HANNIFIN CORP,90100,0.027120,274.68,35378.851022
31,PNR.N,2020-12-14,2020-12-14T08:56:16Z,PENTAIR PLC,116100,0.006547,51.46,8560.180444
32,PFE.N,2020-12-14,2020-12-14T08:56:16Z,PFIZER INC,1305100,0.058808,41.12,228625.675106
33,COP.N,2020-12-14,2020-12-14T08:56:16Z,CONOCOPHILLIPS,757000,0.036068,43.48,46438.145234
34,SCHW.N,2020-12-14,2020-12-14T08:56:16Z,CHARLES SCHWAB CORP,1012000,0.054817,49.43,92755.687823
35,SO.N,2020-12-14,2020-12-14T08:56:16Z,SOUTHERN CO,744300,0.049280,60.42,63818.141217
36,LUV.N,2020-12-14,2020-12-14T08:56:16Z,SOUTHWEST AIRLINES CO,414900,0.020860,45.88,27081.728314
37,SYK.N,2020-12-14,2020-12-14T08:56:16Z,STRYKER CORP,214200,0.054503,232.20,87258.590555
38,TIF.N,2020-12-14,2020-12-14T08:56:16Z,TIFFANY & CO,85200,0.012251,131.22,15931.842728
39,TKR.N,2020-12-14,2020-12-14T08:56:16Z,TIMKEN CO,44600,0.003696,75.62,5698.434937
40,WMT.N,2020-12-14,2020-12-14T08:56:16Z,WALMART INC,327200,0.052708,147.00,415905.031122
41,WSO.N,2020-12-14,2020-12-14T08:56:16Z,WATSCO INC,22900,0.005512,219.66,8453.788423
42,WY.N,2020-12-14,2020-12-14T08:56:16Z,WEYERHAEUSER CO,-344400,-0.012077,32.00,23885.536000
43,XLNX.OQ,2020-12-14,2020-12-14T08:56:16Z,XILINX INC,172000,0.027109,143.83,35255.856556
44,XRX.N,2020-12-14,2020-12-14T08:56:16Z,XEROX HOLDINGS CORP,127200,0.003172,22.76,4515.241052
45,STLD.OQ,2020-12-14,2020-12-14T08:56:16Z,STEEL DYNAMICS INC,141000,0.006046,39.13,8231.641028
46,SCCO.N,2020-12-14,2020-12-14T08:56:16Z,SOUTHERN COPPER CORP,58000,0.003798,59.76,46198.858555
47,PAG.N,2020-12-14,2020-12-14T08:56:16Z,PENSKE AUTOMOTIVE GROUP INC,22400,0.001422,57.95,4655.455611
48,DKS.N,2020-12-14,2020-12-14T08:56:16Z,DICK'S SPORTING GOODS INC,43400,0.002547,53.55,4798.009046
49,SPOK.OQ,2020-12-14,2020-12-14T08:56:16Z,SPOK HOLDINGS INC,-1017300,-0.011159,10.01,190.964544
50,WAL.N,2020-12-14,2020-12-14T08:56:16Z,WESTERN ALLIANCE BANCORP,68700,0.004376,58.13,5861.199303
51,CF.N,2020-12-14,2020-12-14T08:56:16Z,CF INDUSTRIES HOLDINGS INC,150200,0.006480,39.37,8421.880597
52,VIAC.OQ,2020-12-14,2020-12-14T08:56:16Z,VIACOMCBS INC,381900,0.014898,35.60,22026.747883
53,DFS.N,2020-12-14,2020-12-14T08:56:16Z,DISCOVER FINANCIAL SERVICES,215700,0.019727,83.46,25580.183869
54,H.N,2020-12-14,2020-12-14T08:56:16Z,HYATT HOTELS CORP,24600,0.001984,73.58,7444.529271
55,GM.N,2020-12-14,2020-12-14T08:56:16Z,GENERAL MOTORS CO,880300,0.040438,41.92,60000.414592
56,FBHS.N,2020-12-14,2020-12-14T08:56:16Z,FORTUNE BRANDS HOME & SECURITY INC,96900,0.008838,83.23,11563.036700
57,PINC.OQ,2020-12-14,2020-12-14T08:56:16Z,PREMIER INC,43300,0.001709,36.02,4397.527346
58,GLPI.OQ,2020-12-14,2020-12-14T08:56:16Z,GAMING AND LEISURE PROPERTIES INC,144800,0.006772,42.68,9877.915239

In [ ]:
#Example 2

In [32]:
ListData,err = ek.get_data("List('test-list1')",['TR.RIC','CF_LAST'])
ListData

  Instrument      RIC  CF_LAST
0      IBM.N    IBM.N   124.27
1    0700.HK  0700.HK   571.00
2     6501.T   6501.T  4174.00

In [ ]:
#Example 3

In [33]:
MonitorData,err = ek.get_data("Monitor('TEST-MONITOR')",['TR.RIC','CF_LAST'])
MonitorData

  Instrument     RIC  CF_LAST
0      VOD.L   VOD.L   132.08
1     PTT.BK  PTT.BK    42.50
2      IBM.N   IBM.N   124.27